1. Python Introduction

 1.1. Why Python?
 1.2. Where it is used?

2. Data Types

 2.1 Variables

 2.1.1. Local variable

 2.1.2. Global Variables

 2.1.3. Global keyword

 2.2 Numbers

 2.2.1. Integer

 2.2.2. Floating point

 2.2.3. Complex

 2.3 Strings

 2.3.1. String Length

 2.3.2. String Methods

 2.3.3. Accesing the value of string

 2.3.4. Update the String

 2.3.5. String Special operators

 2.3.6. String Formatting operators

 2.4 Lists

 2.4.1. Create a List

 2.4.2. Access values of List

 2.4.3. Update the List

 2.4.4. Addition in List

 2.4.5. Deletion Methods in List

 2.4.6. Reverse the List

 2.4.7. List sorting

2.5 Dictionaries

 2.5.1. Create a Dictionaries

 2.5.2. Access the value of Dictionary

 2.5.3. UPdate the Dictionary

 2.5.4. Delete the Dictionary (All Methods)

 2.5.5. Length of Dictionary

2.6 Tuples

 2.6.1. Create a Tuples

 2.6.2. Access the value of Tuples

 2.6.3. UPdate the Tuples

 2.6.4. Delete the Tuples (All Methods)

 2.6.5. Length of Tuple

2.7 Sets

 2.7.1. Create a Sets

 2.7.2. Access the items of Sets

 2.7.3. Add and Update items in Sets

 2.7.4. Delete the Sets (All Methods)

3. Operators

 3.1. Arithmetic Operators

 3.2. Comarison Operators

 3.3. Logical Operators

 3.4. Assignment Operators

4. Conditional statements

 4.1. If statement

 4.2. if-else statement

 4.3. if-else-if statement (Elif)

5. Loops

 5.1. For loop

 5.2. Break statement

 5.3. Continue statement

 5.4. While loop

 5.5. Nested loops

6. Functions

 6.1. Create a Function

 6.2. Calling a Function

 6.3. Parameters in a Function

 6.4. Default parameter in Function

 6.5. Return in Function

7. Lambda Functions

 7.1. Syntax of Lambda Function

 7.2. Map()

 7.3. filter()

 7.4. Why, When and where it is used?

8. Arrays

 8.1. Create, Access and Update Array

9. Class and objects

 9.1. Create class and objects

10. File I/O

 10.1. Reading input from keyboard

 10.2.I/O from text file

 10.2.1. Create a text file

 10.2.2. Reading a file

 10.2.3. write into a file

 10.3. File position

 10.4. Why, When and where File I/O is used?

11. Pandas Library Introduction

 11.1. Read Dataset using Pandas

 11.2. Why, When and where it is used?

12. Series

 12.1. Create a series

 12.2. From ndarray

 12.3. From dict

 12.4. From Scalar Value

 12.5. series is ndarray-like

 12.6. series is dict-like

 12.7. vectorized operations and label alignment with series

 18.8. Why, When and where Series is used?

13. Data Frames

 13.1. From dict of series or dicts

 13.2. From dict of ndarrays /lists

 13.3. From a list of dicts

 13.4. From a dict of tuples

 13.5. Alternate constructors

 13.6. Cloumn Selection, Addition, and Deletion

 16.6.1. Column Selection

 16.6.2. Column Deletion

 16.6.3. Column Insertion

 13.7. Indexing/ Seletion

 13.8. Data Allignment and arithmetic

 13.9. Transposing

 13.10 Why, When and where DataFrames is used?

14. Veiwing Data

 14.1. Data viewing Method

#**1. Python Introduction**

Python is one of the most popular programming languages. Although it is a general-purpose language, it is used in various areas of applications such as Machine Learning, Artificial Intelligence, web development, IoT, and more.

#1.1 Why Python?

Python is a very popular general-purpose interpreted, interactive, object-oriented, and high-level programming language. Python is dynamically-typed and garbage-collected programming language. It was created by Guido van Rossum during 1985- 1990. Like Perl, Python source code is also available under the GNU General Public License (GPL).

# 1.2 Where it is used?

Python is commonly used for developing websites and software, task automation, data analysis, and data visualization. Since it's relatively easy to learn, Python has been adopted by many non-programmers such as accountants and scientists, for a variety of everyday tasks, like organizing finances.

# **2. Data Types**

String

In [ ]:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

Int

In [ ]:
x = int(20)
print(x)
print(type(x))

Float

In [ ]:
x = float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

Complex

In [ ]:
x = complex(1j)
print(x)
print(type(x))

List

In [ ]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x))

Tuple

In [ ]:
x = tuple(("apple", "banana", "cherry"))
print(x)
print(type(x))

Range

In [ ]:
x = range(6)
print(x)
print(type(x))

Dict

In [ ]:
x = dict(name="John", age=36)
print(x)
print(type(x))

# 2.1 Variables

Variables are containers for storing data values. Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "Muhammad Ali"
print(x)
print(y)

2.1.1 Local Variable

In [ ]:
def sum(x,y):
sum = x + y
return sum
print(sum(5, 10))

2.1.2 Global Variable

A global keyword is a keyword that allows a user to modify a variable outside the current scope. It is used to create global variables in Python from a non-global scope

In [ ]:
x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

# 2.2 Number

There are three numeric types in Python:
1.   Int
2.   Float
3.   Complex

Variables of numeric types are created when you assign a value to them:

2.2.1 Interger

In [ ]:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))

2.2.2 Floating Point

In [ ]:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

2.2.3 Complex

In [ ]:
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

# 2.3 String

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

2.3.1 String Length

In [ ]:
a = "Hello, World!"
print(len(a))

2.3.2 String Methods

Python has a set of built-in methods that you can use on strings.

2.3.3 Accessing the value of String

In [ ]:
var1 = 'Muhammmad Ali'
var2 = "70132700"
print("var1[0]:", var1[0])
print("var2[1:5]:", var2[1:5])

var1[0]: M
var2[1:5]: 0132

2.3.4 Update the String

In [ ]:
s = "Hello, world!"
s = s.replace("Hello", "Goodbye")
print(s)

Goodbye, world!

2.3.5 String Special Operators

In [ ]:
string1 = "hello"
string2 = 'hello'
string3 = '''hello'''
print(string1)
print(string2)
print(string3)

hello
hello
hello

In [ ]:
string1 = "hello"
string2 = "world "
string_combined = string1+string2
print(string_combined)

In [ ]:
string1 = "helloworld "
print(string1*2)
print(string1*3)
print(string1*4)
print(string1*5)

In [ ]:
string1 = "helloworld"
print(string1[1])
print(string1[-3])
print(string1[1:5])
print(string1[1:-3])
print(string1[2:])
print(string1[:5])
print(string1[:-2])
print(string1[-2:])
print(string1[::-1])

In [ ]:
string1 = "hello"
string2 = "hello, world"
string3 = "hello, world"
string4 = "world"
print(string1==string4)
print(string2==string3)
print(string1!=string4)
print(string2!=string3)

In [ ]:
string1 = "helloworld"
print("w" in string1)
print("W" in string1)
print("t" in string1)
print("t" not in string1)
print("hello" in string1)
print("Hello" in string1)
print("hello" not in string1)

In [ ]:
string = "Hello world I am from \"PAKISTAN\""
print(string)

Hello world I am from "PAKISTAN"

2.3.6 String Formatting operators

Python uses C-style string formatting to create new, formatted strings. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s" and "%d".

In [ ]:

x = 'looked'

print("ALI %s and %s around"%('walked',x))

ALI walked and looked around

# 2.4 List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage

2.4.1 Create a List

In [ ]:
thislist = ["ALI", "INAAM", "MOIZ"]
print(thislist)

['ALI', 'INAAM', 'MOIZ']

2.4.2 Acess the values of list

This is the most generic method that can be possibly employed to perform this task of accessing the index along with the value of the list elements. This is done using a loop.

In [ ]:
test_list = [1, 4, 5, 6, 7]

# Printing list
print("Original list is : " + str(test_list))

# using naive method to
# get index and value
print("List index-value are : ")
for i in range(len(test_list)):
    print(i, end=" ")
    print(test_list[i])

Original list is : [1, 4, 5, 6, 7]
List index-value are :
0 1
1 4
2 5
3 6
4 7

2.4.3 Update the value of list

To update directly an element in a list, with a new value, you can use the assignment(=) operator with the specified index. For example, you can update the element at the index position of 2 in a mylist by assigning the value 35 to mylist[2]. After updating, the list becomes [10, 20, 35, 40, 50].

In [ ]:

mylist = [10, 20, 30, 40, 50]
print("Original list: ",mylist)

mylist[2] = 35
print("After updating list is:", mylist)

Original list:  [10, 20, 30, 40, 50]
After updating list is: [10, 20, 35, 40, 50]

2.4.4 Addition in List

Python list is used to store multiple items in a variable. Items in the list can be any ordered, changeable, and allow to store duplicate values. Each item of the list has an appropriate indexed value where the first index of the list starts with {0}, and the length index of the list must be n-1. Each item of the list is separated by a comma (,) symbol and enclosed within square brackets [].

In [ ]:
List1 = ["ALI", "INAAM", 70132700,  "70132699", "AI LAB" ] # define the list

Dept2 = ["AI LAB", 40, 20]

HR_CS = [58, "SIR REHMAN"]
List2 = [1, 2, 4, 5, 6] # integer list
print (" Display the List1", List1)
print (" Display the List2", List2)
print (" Display the Department List", Dept2)
print (" Display the CS Department ", HR_CS)

 Display the List1 ['ALI', 'INAAM', 70132700, '70132699', 'AI LAB']
 Display the List2 [1, 2, 4, 5, 6]
 Display the Department List ['AI LAB', 40, 20]
 Display the CS Department  [58, 'SIR REHMAN']

2.4.5 Deletion Methods in List

Remove Elements from Two Lists Using Python remove()
If the element is present, we will remove that iterated element using the list. remove() method in both lists. In this way, the common elements are eliminated from both lists.

In [ ]:
marks1=[10,20,45,67,90]
marks2=[10,20,15,57,90]
print("Original marks1: ",marks1)
print("Original marks2: ",marks2)

for i in marks1[:]:
    if (i in marks2):
        marks1.remove(i)
        marks2.remove(i)

print("Updated marks1: ",marks1)
print("Updated marks2: ",marks2)

Original marks1:  [10, 20, 45, 67, 90]
Original marks2:  [10, 20, 15, 57, 90]
Updated marks1:  [45, 67]
Updated marks2:  [15, 57]

2.4.6. Reverse the List

In [ ]:
prime_numbers = [2, 3, 5, 7]
prime_numbers.reverse()
print('Reversed List:', prime_numbers)

Reversed List: [7, 5, 3, 2]

 2.4.7. List sorting

In [ ]:
prime_numbers = [11, 3, 7, 5, 2]
prime_numbers.sort()
print(prime_numbers)

[2, 3, 5, 7, 11]

# 2.5 Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

2.5.1 Create a Dictionaries

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

 2.5.2. Access the value of Dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

 2.5.3. UPdate the Dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

 2.5.4. Delete the Dictionary (All Methods)

The del keyword

1.   clear()
2.   pop()
3.   popitem()
4.   del()

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

 2.5.5. Length of Dictionary

In [ ]:

dict1 ={'Name':'Steve', 'Age':30, 'Designation':'Programmer'}

print("Dictionary:", dict1)
print("Length of dictionary:", len(dict1))

Dictionary: {'Name': 'Steve', 'Age': 30, 'Designation': 'Programmer'}
Length of dictionary: 3

# **2.6 Tuples**

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

 2.6.1. Create a Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

 2.6.2. Access the value of Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

 2.6.3. Update the Tuples

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

 2.6.4. Delete the Tuples

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

2.6.5 Length of Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

# **2.7 Sets**

Sets are used to store multiple items in a single variable.
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

 2.7.1. Create a Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

 2.7.2. Access the items of Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

 2.7.3. Add and Update items in Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

2.7.4. Delete the Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

# **3. Operators**

Operators are used to perform operations on variables and values.

 3.1. Arithmetic Operators

In [ ]:
print((6 + 3) - (6 + 3))

In [ ]:
print(100 + 5 * 3)

In [ ]:
print(5 + 4 - 7 + 3)

5

 3.2. Comarison Operators

In [ ]:
x = 5
y = 3

print(x == y)

In [ ]:
x = 5
y = 3

print(x != y)

In [ ]:
x = 5
y = 3

print(x > y)

 3.3. Logical Operators

In [ ]:
x = 5

print(x > 3 and x < 10)

In [ ]:
x = 5

print(x > 3 or x < 4)

In [ ]:
x = 5

print(not(x > 3 and x < 10))

 3.4. Assignment Operators

In [ ]:
x = 5

print(x)

In [ ]:
x = 5

x += 3

print(x)

In [ ]:
x = 5

x -= 3

print(x)

# **4. Conditional statements**

 4.1. If statement

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

 4.2. if-else statement

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

 4.3. if-else-if statement (Elif)

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

# **5. Loops**

 5.1. For loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

 5.2. Break statement

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

 5.3. Continue statement

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

 5.4. While loop

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

 5.5. Nested loops

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

# **6. Functions**

 6.1. Create a Function

In [ ]:
def my_function():
  print("Hello from a function")

 6.2. Calling a Function

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

 6.3. Parameters in a Function

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

 6.4. Default parameter in Function

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

 6.5. Return in Function

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

# **7. Lambda Functions**

 7.1. Syntax of Lambda Function

In [ ]:
x = lambda a : a + 10
print(x(5))

 7.2. Map()

In [ ]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = []

for pet in my_pets:
    pet_ = pet.upper()
    uppered_pets.append(pet_)

print(uppered_pets)

 7.3. filter()

In [ ]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

over_75 = list(filter(is_A_student, scores))

print(over_75)

7.4. Why, When and where it is used?

Where func is the function on which each element in iterables (as many as they are) would be applied on. Notice the asterisk(*) on iterables? It means there can be as many iterables as possible, in so far func has that exact number as required input arguments. While map() passes each element in the iterable through a function and returns the result of all elements having passed through the function, filter(), first of all, requires the function to return boolean values (true or false) and then passes each element in the iterable through the function, "filtering" away those that are false.

# **8. Arrays**

 8.1. Create, Access and Update Array

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

In [ ]:
x = cars[0]

In [ ]:
cars[0] = "Toyota"

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

cars.pop(1)

print(cars)

# **9. Class and objects**

 9.1. Create class and objects

In [ ]:
p1 = MyClass()
print(p1.x

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

# **10. File I/O**

 10.1. Reading input from keyboard

In [ ]:
str = raw_input("Enter your input: ")
print"Received input is : ", str

In [ ]:
str = input("Enter your input: ")
print"Received input is : ", str

 10.2.I/O from text file

 10.2.1. Create a text file

In [ ]:
with open('readme.txt', 'w') as f:
    f.write('Create a new text file!')

 10.2.2. Reading a file

In [ ]:
file1 = open("myfile.txt","w")
L = ["This is University Of Lahore \n","This is Pakistan \n","This is AI LAB \n"]
file1.writelines(L)
file1.close()
file1 = open("myfile.txt","a")#append mode
file1.write("Today \n")
file1.close()
file1 = open("myfile.txt","r")
print("Output of Readlines after appending")
print(file1.readlines())
print()
file1.close()
file1 = open("myfile.txt","w")#write mode
file1.write("Tomorrow \n")
file1.close()
file1 = open("myfile.txt","r")
print("Output of Readlines after writing")
print(file1.readlines())
print()
file1.close()

Output of Readlines after appending
['This is University Of Lahore \n', 'This is Pakistan \n', 'This is AI LAB \n', 'Today \n']

Output of Readlines after writing
['Tomorrow \n']

 10.2.3. write into a file

In [ ]:
file1 = open("myfile.txt","w")
L = ["This is University Of Lahore \n","This is Pakistan \n","This is AI LAB \n"]
file1.writelines(L)
file1.close()
file1 = open("myfile.txt","a")#append mode
file1.write("Today \n")
file1.close()
file1 = open("myfile.txt","r")
print("Output of Readlines after appending")
print(file1.readlines())
print()
file1.close()
file1 = open("myfile.txt","w")#write mode
file1.write("Tomorrow \n")
file1.close()
file1 = open("myfile.txt","r")
print("Output of Readlines after writing")
print(file1.readlines())
print()
file1.close()

 10.3. File position

In [ ]:
file1 = open("myfile.txt","w")

 10.4. Why, When and where File I/O is used?

Python - FileIO. Python's built-in functions input() and print() perform read/write operations with standard IO streams. The input() function reads text into memory variables from keyboard which is defined as sys. stdin and the print() function send data to display device identified as sys.

11. Pandas Library Introduction

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.

 11.1. Read Dataset using Pandas

A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In our examples we will be using a CSV file called 'data.csv'.

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df)

 11.2. Why, When and where it is used?

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

12. Series

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

 12.1. Create a series

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

 12.2. From ndarray

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

 12.3. From dict

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

 12.4. From Scalar Value

 Scalar variable is a variable that contains a singular piece of data/information at a time. These variables are mostly immutable meaning you can not change the object once it has been created. A non-scalar variable like a list or array would connect one variable to many pieces of data/information and these types are mutable meaning we can change the data inside.

12.5. Series is ndarray-like

Operations between Series automatically align the data based on label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

12.6. Series is dict-like

A Series is a one-dimensional labeled array that can hold any data type, similar to a Python dictionary. It is commonly used for data manipulation and analysis.

In [ ]:
import pandas as pd

data = {'apple': 3, 'banana': 5, 'cherry': 2}
fruits = pd.Series(data)
print(fruits)

In [ ]:
apple     3
banana    5
cherry    2
dtype: int64

In [ ]:
fruits1 = pd.Series({'apple': 3, 'banana': 5, 'cherry': 2})
fruits2 = pd.Series({'apple': 2, 'banana': 4, 'cherry': 1})
total_fruits = fruits1 + fruits2
print(total_fruits)

In [ ]:
apple     5
banana    9
cherry    3
dtype: int64

12.7 Vectorized Operations and Label Alignment with Series

Series allows for vectorized operations, and the data alignment is based on labels.

In [ ]:
fruits1 = pd.Series({'apple': 3, 'banana': 5, 'cherry': 2})
fruits2 = pd.Series({'banana': 4, 'cherry': 1, 'orange': 2})
total_fruits = fruits1 + fruits2
print(total_fruits)

12.8 Why, When, and Where Series is Used?

**Why:** Series are used to store and manipulate one-dimensional data with labeled indices, making data analysis and manipulation efficient and convenient.

**When:** Use Series When dealing with data like time series, sensor data, or any dataset with labels. It's also a fundamental building block for DataFrames.
Where: Series are widely used in data analysis, statistics, and machine learning, often as columns in DataFrames or as standalone data structures for quick data exploration.

13 DataFrames

DataFrames are two-dimensional tabular data structures, similar to spreadsheets, where you can store and manipulate data efficiently.

13.1 From Dict of Series or Dicts

You can create a DataFrame from a dictionary of Series or dictionaries.

In [ ]:
import pandas as pd

data = {'Column1': pd.Series([1, 2, 3]),
        'Column2': pd.Series([4, 5, 6])}
df = pd.DataFrame(data)
print(df)

13.2 From Dict of ndarrays / Lists

You can create a DataFrame from a dictionary of NumPy arrays or lists.

In [ ]:
import pandas as pd

data = {'Column1': [1, 2, 3],
        'Column2': [4, 5, 6]}
df = pd.DataFrame(data)
print(df)

13.3 From a List of Dicts

You can create a DataFrame from a list of dictionaries.

In [ ]:
import pandas as pd

data = [{'Column1': 1, 'Column2': 4},
        {'Column1': 2, 'Column2': 5},
        {'Column1': 3, 'Column2': 6}]
df = pd.DataFrame(data)
print(df)

13.4 From a Dict of Tuples

You can create a Series from a dictionary of tuples where the keys are pairs.

In [ ]:
import pandas as pd

data = {('apple', 'quantity'): 3,
        ('banana', 'quantity'): 2,
        ('cherry', 'quantity'): 5}
series = pd.Series(data)
print(series)

13.5 Alternate Constructors

DataFrames can be created from various sources, such as CSV, Excel, or SQL databases. Here's an example using the CSV file.

In [ ]:
import pandas as pd

# Create a DataFrame from a CSV file
df = pd.read_csv('data.csv')
print(df)

13.6 Column Selection, Addition, and Deletion

16.6.1 Column Selection

You can select a specific column using its name.

In [ ]:
import pandas as pd

data = {'fruits': ['apple', 'banana', 'cherry'],
        'quantity': [3, 2, 5]}
df = pd.DataFrame(data)

# Select the 'fruits' column
fruits_column = df['fruits']
print(fruits_column)

16.6.2 Column Deletion

You can delete a column from a DataFrame using the drop method.

In [ ]:
import pandas as pd

data = {'fruits': ['apple', 'banana', 'cherry'],
        'quantity': [3, 2, 5]}
df = pd.DataFrame(data)

# Delete the 'quantity' column
df = df.drop('quantity', axis=1)
print(df)

16.6.3 Column Insertion

You can insert a new column into a DataFrame.

In [ ]:
import pandas as pd

data = {'fruits': ['apple', 'banana', 'cherry'],
        'quantity': [3, 2, 5]}
df = pd.DataFrame(data)

# Insert a new 'color' column
df['color'] = ['red', 'yellow', 'red']
print(df)

13.7 Indexing/Selection

You can select rows and columns using various methods like loc and iloc.

In [ ]:
import pandas as pd

data = {'fruits': ['apple', 'banana', 'cherry'],
        'quantity': [3, 2, 5]}
df = pd.DataFrame(data)

# Select the first row
first_row = df.loc[0]
print(first_row)

13.8 Data Alignment and Arithmetic

You can perform element-wise arithmetic operations on DataFrames.

In [ ]:
import pandas as pd

data1 = {'fruits': ['apple', 'banana', 'cherry'],
         'quantity': [3, 2, 5]}
data2 = {'fruits': ['apple', 'banana', 'cherry'],
         'price_per_unit': [1.2, 0.5, 0.8]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge two DataFrames based on the 'fruits' column
merged_df = df1.merge(df2, on='fruits')

# Calculate total cost
merged_df['total_cost'] = merged_df['quantity'] * merged_df['price_per_unit']
print(merged_df)

13.9 Transposing

You can transpose a DataFrame to swap rows and columns.

In [ ]:
import pandas as pd

data = {'fruits': ['apple', 'banana', 'cherry'],
        'quantity': [3, 2, 5]}
df = pd.DataFrame(data)

# Transpose the DataFrame
transposed_df = df.transpose()
print(transposed_df)

13.10 Why, When, and Where DataFrames are Used?

**Why:** DataFrames are used to represent and work with structured data, such as tabular data, where you have rows and columns with different data types.

**When:** They are used when you need to perform data analysis, data cleaning, data manipulation, and visualization on structured data.

**Where:** DataFrames are widely used in data science, machine learning, and data analysis tasks. They are a fundamental data structure in libraries like Pandas, which makes working with tabular data efficient and convenient.

# 14. Viewing Data
14.1 Data Viewing Methods

You can use various methods to view and inspect your DataFrame.

In [ ]:
import pandas as pd

data = {'fruits': ['apple', 'banana', 'cherry'],
        'quantity': [3, 2, 5]}
df = pd.DataFrame(data)

# Display the first few rows of the DataFrame
print(df.head())

# Display basic statistics of numeric columns
print(df.describe())

# Check the data types of columns
print(df.dtypes)